# Ignore node dependencies
node_modules/

# Ignore environment variables/secrets
.env
config.py
.gitignore

# Ignore build outputs
assets/images/old

# Ignore OS-specific system files
.DS_Store
Thumbs.db
